.list {
    text-align: left;
    max-width: 750px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s ease;
    background-color: #f2f2f2;

  }

  :hover li {
  font-size: 1.02em;
   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);


  }