 

 <div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
       
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Investors List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let investor of investors; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveInvestor(investor, i)"
        >
        
  
 
            <h6>
              Nome:  {{ investor.firstName }}    {{ investor.lastName }}
            </h6> 

           <div *ngIf="investor.suitability == 302">
             Suitability: Conservador
            <p class="card-subtitle mb-2 text-muted">O investidor de perfil conservador preza pela segurança em primeiro lugar. Por conta disso, ele prefere recorrer a investimentos com essa característica, ainda que estes tenham uma baixa rentabilidade.</p> 
            </div>

            <div *ngIf="investor.suitability == 304">
              Suitability: Arrojado

              Os investidores de perfil arrojado – também chamados de agressivos – estão no outro extremo em relação aos conservadores. ,
             </div>

             <div *ngIf="investor.suitability == 305">
              Suitability: Moderado
            <p class="card-subtitle mb-2 text-muted">Entre os investidores conservadores e arrojados há um meio termo: o perfil moderado. Ele apresenta um equilíbrio entre o risco e a busca por melhor rendimento.</p>  
             </div>
            
        </li>
      </ul>
  
     
    </div>
    <div class="col-md-6">
        <app-investor-details
        [viewMode]="true"
        [currentInvestor]="currentInvestor"
      ></app-investor-details>

      
    </div>    
    
    
  </div>

